


.month_card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0px 20px 20px;
    margin: 10px;
    display: block;
    width: 250px;
    text-align: center;
    overflow: hidden; /* はみ出し防止 */
}
.month_card h3 {
    display: block;
    width: calc(100% + 40px);
    text-align: center; /* 文字を中央揃え */
    margin: 0;
    background-color: black;
    color:white;
    border-radius: 8px 8px 0 0; /* 上側だけ丸める */
    margin: 0 -20px; /* 親の padding を相殺 */
}
.month_card h5 {
    position: relative;
    margin: 5px;
}
.month_card h5 i {
    position: absolute;
    top: 50%; /* 親要素の縦中央に配置 */
    right: 0; /* 左端に配置 */
    transform: translate(0, -50%); /* 縦中央を正確に補正 */
    font-size: 24px;

}
#ispayed{
    position: relative; /* オーバーレイの基準 */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒 */
    border-radius: 8px;
}
.month_card h5 .checked{
    position: absolute;
    color: green;
    font-size: 60px;
    top: 10px; /* 親要素の縦中央に配置 */
    right: 0; /* 左端に配置 */
    transform: translate(30%, -50%); /* 縦中央を正確に補正 */
}
.month_card p {
    font-size: 16px;
}
.daily-distance {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}
.daily-distance h4 {
    margin-top: 0;
}
.daily-distance p {
    margin: 0;
}