{% extends "dareyaomae/base.html" %}
{% load mathfilters %}
{% load static %}
{% block script %}
<link href="{% static 'dareyaomae/cropperjs/dist/cropper.css'%}" rel="stylesheet">
<script src="{% static 'dareyaomae/cropperjs/dist/cropper.js' %}"></script>
<script src="{% static 'dareyaomae/cropperjs/dist/cropper.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script>
    

    


    function previewImage(inputId, previewId) {
        var input = document.getElementById(inputId);
        var preview = document.getElementById(previewId);
        console.log('Preview Element:', preview);
        var file = input.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            preview.src = e.target.result;
            preview.style.display = 'block';
        };

        reader.readAsDataURL(file);
        var saveButton = document.getElementById('save');
        saveButton.style.display = 'block';
    }

    function set_image_data() {
        var image = []
        var container = document.querySelector('.box3');  // 画像を表示するコンテナの要素を取得
        var table = document.createElement('ImageCard');

        '{% for image in images_ %}'
        image.push('{{image.image.url}}');
        sendedImageCard('{{image.image.url}}', '{{image.image.name}}', '{{image.id}}')
        '{% endfor %}'


    }

    function sendedImageCard(imagedata, filename, imageid) {
        // imageCard要素を作成
        const imageCard = document.createElement('div');
        imageCard.classList.add('imageCard');
        imageCard.id = "oldCard";

        //name要素を作成
        const span = document.createElement('span');
        span.id = "newCardName";
        span.textContent = filename;
        span.style.display = "none"


        // 画像要素を作成し、src属性を設定
        const img = document.createElement('img');
        img.src = imagedata;
        img.style = "border: 4px solid green; border-radius: 5px;"

        // 削除ボタン要素を作成
        const deleteButton = document.createElement('button');
        deleteButton.classList.add('Deletebutton');
        deleteButton.id = imageid;
        deleteButton.style = "background-color: blue;"
        deleteButton.textContent = '削除';
        deleteButton.addEventListener('click', function () {


            // ボタンが所属するフォームを取得
            const form = document.getElementById('deleteForm');
            // ボタンのデータ属性から削除対象のIDを取得し、フォームにセット
            const deleteId = deleteButton.id;
            document.getElementById('deleteId').value = deleteId;
            nowcardCheck()

            if (s_one_image < nowImage) {
                document.getElementById('image_put_text').textContent = String(nowImage - s_one_image) + '枚投稿を減らして'
            }
            else if (s_one_image === nowImage) {
                document.getElementById('image_put_text').textContent = '残り' + String(s_one_image - nowImage) + '枚投稿できます'
            }
            else {
                document.getElementById('image_put_text').textContent = '残り' + String(s_one_image - nowImage) + '枚投稿できます'
            }
            // フォームをサブミット
            form.submit();
        });

        // imageCardに画像と削除ボタンを追加
        imageCard.appendChild(img);
        imageCard.appendChild(span);
        imageCard.appendChild(deleteButton);

        // box3要素を取得し、imageCard要素を追加
        const box3 = document.querySelector('.box3');
        // 後ろから2番目の要素を取得
        const secondLastChild = box3.children[box3.children.length - 3];
        // スクロールを左端に移動
        box3.scrollTo({ left: 0, behavior: 'smooth' });

        // 後ろから2番目の要素の直後にimageCard要素を挿入
        secondLastChild.parentNode.insertBefore(imageCard, secondLastChild.nextSibling);
        checkImages()
    }
    window.onload = function () {
        if ('{{ your }}' != 0) {
            set_image_data();
        }
    }
</script>
<style>
    #preview-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    #preview-image {
        max-width: 90%;
        max-height: 90%;
        border: 2px solid white;
        border-radius: 5px;
    }

    /* OKボタンのスタイル */
    #okButton {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
    }

    /* オーバーレイのスタイル */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
        display: none;
        align-items: center;
        justify-content: center;
    }

    /* SVGを使用した円形プログレスバー */
    .progress-container {
        position: relative;
        width: 120px;
        height: 120px;
    }

    .progress-circle-bg {
        fill: none;
        stroke: rgba(255, 255, 255, 0.2);
        stroke-width: 10;
    }

    .progress-circle {
        fill: none;
        stroke-width: 10;
        stroke-linecap: round;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        transition: stroke-dashoffset 0.3s, stroke 0.3s;
    }

    /* 中央の進行度テキスト */
    .progress-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: white;
    }
    .host_back_button {
        position: fixed;  /* 固定配置 */
        top: 5px;        /* 上から20pxの位置 */
        right: 5px;      /* 右から20pxの位置 */
        background-color: #bb2b2b; /* 緑色の背景 */
        color: white;     /* テキストの色を白に */
        border: none;     /* ボーダーなし */
        z-index:1;
        padding: 10px 20px; /* 上下10px、左右20pxのパディング */
        text-align: center; /* 中央揃え */
        text-decoration: none; /* 下線なし */
        display: inline-block; /* インラインブロック表示 */
        font-size: 16px;   /* フォントサイズ */
        border-radius: 5px; /* 角を丸くする */
        cursor: pointer;    /* カーソルをポインタに */
    }
</style>

{% endblock %}

{% block body %}
<button class="host_back_button" id="host_back_button" style="display: none;">管理画面に戻る</button>

<div class="modal fade" id="setmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="setmodal_title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="setmodal_text">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>
{% if your == 0 %} <!-- yourが0のとき(誰か選択されていないとき) -->


<div class="card-overlay">
    <div class="create_card">
        <div class="box1">
            <img src="{% static 'dareyaomae/images/button.png' %}" width="100%" height="100%">
            <p>画像投稿</p>
        </div>
        <div class="box2" style="height: 80%;">
            <p style="padding-top: 0%;" id="selectText">~ 自分を選択してください ~</p>
            <div class="joinContentBox" id="joinContentBox" style="overflow: scroll;">
                <ul>
                    {% for player in players %}
                    <form method="post" action="{% url 'join_room' room.id %}">{% csrf_token %}
                        <li style="text-align: start;">{{ player.name }} <button type="submit" name="select"
                                value="{{ player.id }}">選択</button></li>
                    </form>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</div>
<script> //join幅調節
    const container = document.querySelector('.box2');
    const inset = document.getElementById('selectText');
    // containerの下端までの座標
    const containerBottom = container.offsetHeight;
    const insetBottom = inset.offsetHeight;

    console.log('container:', containerBottom);
    console.log('inset:', insetBottom);
    const gap = containerBottom - insetBottom;
    console.log('Gap:', gap);
    const list = document.querySelector('.joinContentBox');
    // containerの高さを修正
    list.style.height = (gap - 16) + 'px';

</script>
{% else %} <!-- your=0以外 (誰か選択されたとき) -->

<form id="deleteForm" method="POST" action="/dareyaomae/join/{{ room.id }}/?your={{ your.id }}">
    {% csrf_token %}
    <input type="hidden" name="delete" id="deleteId">
    <input type="hidden" name="your_id" value="{{your.id}}">
    <button type="submit" class="Deletebutton" style="display: none;">削除</button>
</form>
<div class="joinBox">
    <div class="box1">
        <p>画像投稿</p>
    </div>
    <div class="box2">
        <div class="namePlate">
            <p>{{ your.name }}</p>
        </div>
    </div>
    <div class="box3">

        <div class="imageCard" id="firstImageCard">
            <img src="{% static 'dareyaomae/images/card.jpg' %}">
        </div>
        <div></div>
        <div class="plusCard">
            <a href="#" class="btn Plusbutton" id="plusbutton">+</a>
            <input type="file" id="fileInput" multiple accept="image/*" style="display: none;">
        </div>

        <div id="preview-container" style="justify-content: center;">
            <img id="preview-image" src="#" alt="Preview">
            <button id="okButton" style="position: absolute; bottom: 10%; ">OK</button>
        </div>

    </div>
    <div class="box4">
        <div class="contentBox">
            <p id="image_put_text">残り枚投稿できます</p>
            <button id="submit_button" onclick="submitImages()">送信</button>
        </div>
    </div>
</div>
<!--データ送信時オーバーレイ -->
<!-- オーバーレイ要素 -->
<div class="overlay" id="overlay">
    <div class="progress-container">
        <svg width="120" height="120">
            <circle class="progress-circle-bg" cx="60" cy="60" r="50"></circle>
            <circle class="progress-circle" cx="60" cy="60" r="50" stroke="#4caf50"></circle>
        </svg>
        <div class="progress-text" id="progress-text">0%</div>
    </div>
</div>

<script>
    function getQueryParam(param) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(param);
    }
    // hostの値をチェック
    var host = getQueryParam('host');
    //画像配置モジュール
    function appendImageCard(imagedata, filename) {
        // imageCard要素を作成
        const imageCard = document.createElement('div');
        imageCard.classList.add('imageCard');
        imageCard.id = "newCard";

        //name要素を作成
        const span = document.createElement('span');
        span.id = "newCardName";
        span.textContent = filename;
        span.style.display = "none"


        // 画像要素を作成し、src属性を設定
        const img = document.createElement('img');
        img.src = imagedata;
        img.style = "border: 4px solid red; border-radius: 5px;"

        // 削除ボタン要素を作成
        const deleteButton = document.createElement('button');
        deleteButton.classList.add('Deletebutton');
        deleteButton.style = "background-color: blue;"
        deleteButton.textContent = '削除';
        deleteButton.name = filename;
        deleteButton.addEventListener('click', function () {

            const deleteButton = this.parentNode;
            deleteButton.parentNode.removeChild(deleteButton);
            nowcardCheck()
            if (s_one_image < nowImage) {
                document.getElementById('image_put_text').textContent = String(nowImage - s_one_image) + '枚投稿を減らして'
            }
            else if (s_one_image === nowImage) {
                document.getElementById('image_put_text').textContent = '残り' + String(s_one_image - nowImage) + '枚投稿できます'
            }
            else {
                document.getElementById('image_put_text').textContent = '残り' + String(s_one_image - nowImage) + '枚投稿できます'
            }
        });


        // imageCardに画像と削除ボタンを追加
        imageCard.appendChild(img);
        imageCard.appendChild(span);
        imageCard.appendChild(deleteButton);

        // box3要素を取得し、imageCard要素を追加
        const box3 = document.querySelector('.box3');
        // 後ろから2番目の要素を取得
        const secondLastChild = box3.children[box3.children.length - 3];
        // スクロールを左端に移動
        box3.scrollTo({ left: 0, behavior: 'smooth' });

        // 後ろから2番目の要素の直後にimageCard要素を挿入
        secondLastChild.parentNode.insertBefore(imageCard, secondLastChild.nextSibling);
        checkImages()
    }

    function checkImages() {
        const imageCardCount = document.querySelectorAll('.imageCard').length;
        if (imageCardCount === 1) {
            document.getElementById("firstImageCard").style = 'display: block;'
        }
        else {
            document.getElementById("firstImageCard").style = 'display: none;'
        }
    }

    let cropper;
    document.getElementById('plusbutton').onclick = function () {
        if (s_one_image <= nowImage) {
            const myModal = document.getElementById('setmodal')
            document.getElementById('setmodal_title').textContent = "投稿最大数を越しています。"
            document.getElementById('setmodal_text').textContent = "「room : {{ room.name }}」での最大投稿可能数は" + String(s_one_image) + "枚です。画像を減らしてから再度押してください"
            // モーダルを表示する
            var modal = new bootstrap.Modal(myModal);
            modal.show();
        }
        else {
            document.getElementById('fileInput').click(); // input[type="file"] をクリック
        }

    };
    var filename = "";
    document.getElementById('fileInput').addEventListener('change', async function (event) {

        // ファイル選択時に実行される関数を定義
        const handleFileSelection = async () => {
            for (const file of event.target.files) {
                document.getElementById("submit_button").style.display = "none";
                console.log(file);
                if (file) {
                    const reader = new FileReader();
                    console.log(file.name);
                    filename = file.name;
                    reader.onload = function (e) {
                        const previewImage = document.getElementById('preview-image');
                        previewImage.src = e.target.result;
                        cropper = new Cropper(previewImage, {
                            aspectRatio: 1, // 正方形に設定
                            viewMode: 2, // トリミングボックスのサイズがプレビューコンテナーを超えないようにする
                        });
                        document.getElementById('preview-container').style.display = 'flex';
                    }
                    reader.readAsDataURL(file);
                    // OKボタンが押されるまで待機
                    await new Promise((resolve) => {
                        document.getElementById('okButton').onclick = resolve;
                    });
                }
            }
            document.getElementById('preview-container').style.display = 'none';
        };
        // ファイル選択時に非同期関数を実行
        handleFileSelection();

    });
    document.getElementById('okButton').addEventListener('click', async function () {
        // トリミングされた画像を取得
        const croppedCanvas = cropper.getCroppedCanvas();
        // トリミングされた画像をDataURL形式で取得
        const croppedDataURL = croppedCanvas.toDataURL();
        // ここで取得したcroppedDataURLを使って何かを行う (例: 送信する、表示するなど)
        const previewImage = document.getElementById('preview-image');
        previewImage.src = croppedDataURL;
        appendImageCard(croppedDataURL, filename);
        cropper.destroy();
        console.log(croppedDataURL);
        nowcardCheck();

        if (s_one_image < nowImage) {
            document.getElementById('image_put_text').textContent = String(nowImage - s_one_image) + '枚投稿を減らして'
        }
        else if (s_one_image === nowImage) {
            document.getElementById('image_put_text').textContent = '残り' + String(s_one_image - nowImage) + '枚投稿できます'
        }
        else {
            document.getElementById('image_put_text').textContent = '残り' + String(s_one_image - nowImage) + '枚投稿できます'
        }
        document.getElementById("submit_button").style.display = "";
    });

</script>
<script>//投稿数管理モジュール
    function nowcardCheck() {
        const imageCards = document.querySelectorAll('.imageCard#newCard');
        nowImage = parseInt(UploadedImage) + parseInt(imageCards.length);
    }
    let s_one_image = "{{ room.s_one_image }}"
    let UploadedImage = "{{ images_|length }}"
    let nowImage = "{{ images_|length }}";
    if (s_one_image < nowImage) {
        document.getElementById('image_put_text').textContent = String(nowImage - s_one_image) + '枚投稿を減らして'
    }
    else if (s_one_image === nowImage) {
        document.getElementById('image_put_text').textContent = '残り' + String(s_one_image - nowImage) + '枚投稿できます'
    }
    else {
        document.getElementById('image_put_text').textContent = '残り' + String(s_one_image - nowImage) + '枚投稿できます'
    }
</script>

<script> //データ送信モジュール
document.getElementById("host_back_button").addEventListener('click',function() {
        window.location.href = "/dareyaomae/host/{{ room.id }}/"
    })
updateProgress(1); // プログレスをリセット
    function submitImages() {
        let index_;
        const formData = new FormData();
        // IDがnewCardであるすべての画像要素を取得
        const imageCards = document.querySelectorAll('.imageCard#newCard');
        if(imageCards.length == 0){
            console.log("画像が追加されていません。処理を終了します。")
            return 0;
        }
        nowcardCheck();
        if (s_one_image < nowImage) {
            const myModal = document.getElementById('setmodal')
            document.getElementById('setmodal_title').textContent = "投稿最大数を越しています。"
            document.getElementById('setmodal_text').textContent = "「room : {{ room.name }}」での最大投稿可能数は" + String(s_one_image) + "枚です。画像を減らしてから送信してください"
            // モーダルを表示する
            var modal = new bootstrap.Modal(myModal);
            modal.show();
            return 0;
        }
        document.getElementById('overlay').style.display = 'flex';
        updateProgress(1); // プログレスをリセット
        const promises = [];
        // それぞれの画像要素からDataURLを取得し、フォームに追加
        imageCards.forEach((imageCard, index) => {
            index_ = index;
            const img = imageCard.querySelector('img');
            const name = imageCard.querySelector('span').textContent;
            const promise = fetch(img.src)
                .then(response => response.blob())
                .then(blob => {
                    const file = new File([blob], "c_" + String(name), { type: blob.type });
                    console.log(file); // Fileオブジェクト

                    // ファイルをフォームデータに追加
                    formData.append(`image`, file);



                });

            promises.push(promise); // 各非同期処理のPromiseを配列に追加
        });
        console.log("1")
        // 全ての非同期処理が完了した後に次の処理を実行する
        Promise.all(promises)
            .then(() => {
                console.log("2")
                console.log('All requests completed');
                formData.append(`your`, "{{your.id}}");
                // 最後の画像の場合はフォームをサーバーに送信
                if (index_ === imageCards.length - 1) {
                    // フォームを作成して送信
                    const xhr = new XMLHttpRequest();
                    xhr.upload.addEventListener("progress", updateProgress, false);
                    xhr.open('POST', '/dareyaomae/upload/{{ room.id }}/'); // アップロード先のURLを指定してください
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    xhr.send(formData);
                    console.log("3")
                    // リクエストが完了したらページをリロード
                    xhr.onload = function () {
                        if (xhr.status >= 200 && xhr.status < 300) {
                            // リクエストが成功したらページをリロード
                            if(host == "true"){ //ホスト者の場合の移行
                                window.location.href = "/dareyaomae/join/{{ room.id }}/?your={{ your.id }}&host=true"
                            }   
                            else{
                                window.location.href = "/dareyaomae/join/{{ room.id }}/?your={{ your.id }}"
                            }
                        } else {
                            console.error('Request failed:', xhr.statusText);
                        }
                    };
                };
            })
            .catch(error => {
                console.error('Error:', error);
            });

    }
    //form画像送信時のバー表示用SCRIPT
    function updateProgress(e) {
        console.log(e.lengthComputable)
        if (e.lengthComputable) {
            var percent = e.loaded / e.total;
            console.log(e.loaded + "/" + e.total)
            updateProgress_bar(parseInt(percent * 100));
        }
    }
    // プログレスバーを更新する関数
    function updateProgress_bar(value) {
        if (value === 0){value = 1;};
        const circle = document.querySelector('.progress-circle');
        const radius = circle.r.baseVal.value;
        const circumference = 2 * Math.PI * radius;

        circle.style.strokeDasharray = `${circumference}`;
        circle.style.strokeDashoffset = `${circumference - (value / 100) * circumference}`;

        // 進行度に応じて色を変更
        const progressText = document.getElementById('progress-text');
        if (value < 50) {
            circle.style.stroke = '#f00';  // 赤色
        } else if (value < 80) {
            circle.style.stroke = '#ff0';  // 黄色
        } else {
            circle.style.stroke = '#0f0';  // 緑色
        }

        progressText.textContent = `${value}%`;
    }
    let progressValue = 0;
    /*const interval = setInterval(() => {
        progressValue += 1;
        updateProgress(progressValue);

        if (progressValue >= 100) {
            clearInterval(interval); // 100%に達したら進行を停止
        }
    }, 300); // 30ミリ秒ごとに1%増加*/
    // URLのパラメータを取得する関数
    
        
    if (host === 'true') { //ホストモードが有効のとき以下の操作を加える
        document.getElementById('host_back_button').style.display = 'block'; // ボタンを表示
        document.getElementById('deleteForm').action = "/dareyaomae/join/{{ room.id }}/?your={{ your.id }}&host=true"

    }
    
</script>



{% endif %}

</div>
{% endblock %}