{% extends "base.html" %}
{% load static %}
{% block script %}
<script>

</script>
{% endblock %}

{% block body %}
<form method="post" action="{% url 'joinSerch_room' %}">{% csrf_token %}
  <div class="card-overlay">
    <div class="create_card">
      <div class="box1">
        <img src="{% static 'dareyaomae/images/button.png' %}" width="100%" height="100%">
        <p>ルーム検索</p>
      </div>
      <div class="box2" style="height: 80%;">
        <p>~ ルーム名 ~</p>
        <label for="room_name"></label>
        <div style="width: auto; text-align: center;">
          <input type="text" name="room_name" style="text-align: center; font-size: 1.2em;" required>
        </div>
        <p>~ あいことば ~</p>
        <div style="width: auto; text-align: center;">
          <input type="text" name="password" style="text-align: center; font-size: 1.2em;" required>
        </div>
        <div style="height: 20%;text-align: center;padding-top: 10%;padding-bottom: 10%;">
          <button class="neon_button" type="submit" name="serch" >検索する</button>
        </div>
        {% if existing_room%}
        <div class="error">
          <div class="alert alert-danger" role="alert" style="margin: 0%;">
            <div style="text-align: center;">一致する部屋データが見つかりました。</div>
            ルーム名 : {{ existing_room.name }}<br>
            作成日時 : {{ existing_room.created_at }}<br>
            人数 : {{ existing_room.s_player }}<br>
            <a href="{% url 'join_room' room_id=existing_room.id %}" class="btn btn-warning">参加</a>
          </div>
        </div>
        {% endif %}

        {% if notfound%}
        <div class="error">
          <div class="alert alert-danger" role="alert" style="margin: 0%;">
            <div style="text-align: center;">部屋データが存在しませんでした。</div>
          </div>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</form>

</div>
{% endblock %}