<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{% static 'lover/images/kiwitok.png' %}">
    <meta name="apple-mobile-web-app-title" content="kiwitok">
    <title>動画フィード</title>
    <style>
        body{
            background-color: black;
        }
        h1 { 
            color: azure;
        }
    </style>
</head>
<body>
    <h1>まだみれないよ。ゲームを終わってから見てね</h1>
</body>

</html>